@page "/hifilist"
@inject DataContext _dataContext
@inject NavigationManager _navigationManager

<PageTitle>Haxee - HiFi Ralley</PageTitle>

<h1 class="title">HiFi Ralley</h1>
@foreach(var year in _years.OrderByDescending(x => x.YearValue))
{
    var attendees = year.Attendees.Where(x => x.StartedAt != null && x.EndedAt != null);
    <div @onclick='() => _navigationManager.NavigateTo("/hifiyear/" + year.YearValue)'>
        @year.YearValue @year.Stands.Count() @(attendees.Any() ? TimeSpan.FromSeconds(attendees.Average(x => (x.EndedAt! - x.StartedAt!).Value.TotalSeconds)).ToString() : "-")
    </div>
}

@code {
    private List<Year> _years = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        _years = await _dataContext.Years
            .Include(x => x.Stands)
            .ToListAsync();

        StateHasChanged();
    }
}
