@inherits AbstractModal
@inject IDbContextFactory<DataContext> _dbContextFactory

<Modal @ref="Modal" Title="Zmena stavu">
    <div class="flex flex-col space-y-3">
        @if(_attendee is null && _lastReceivedCardId is not null)
        {
            <label>Tento uzivatel nema priradenu karticku</label>
        } else if(_attendee is not null && _attendee.StartedAt is null)
        {
            <label>Uzivatel nezacal sutaz</label>
        } else if(_standVisit is null)
        {
            <label>@_attendee!.User.Name</label>
            <button class="w-full button-main" @onclick="() => ArrivalStart(StandVisitStatus.Waiting)">Začať čakanie</button>
            <button class="w-full button-main" @onclick="() => ArrivalStart(StandVisitStatus.Working)">Začať prácu</button>
            <button class="w-full button-main" @onclick="ArrivedAndSkip">Preskočiť</button>
        } else
        {
            <label>@_attendee!.User.Name</label>
            <button class="w-full button-main" disabled="@(_standVisit.Status != StandVisitStatus.Waiting)" @onclick=EndWait>Ukončiť čakanie a Začať prácu</button>
            <button class="w-full button-main" disabled="@(_standVisit.Status != StandVisitStatus.Working)" @onclick=EndWork>Ukončiť prácu</button>
            <button class="w-full button-main" @onclick=SkipStand>Preskočiť</button>
        }
    </div>
</Modal>

@code {
    [Parameter]
    public EventCallback OnSubmit { get; set; }

    private string? _lastReceivedCardId;
    private Attendee? _attendee;
    private int? _standId;
    private int? _standVisitId;
    private StandVisit? _standVisit;
    private DateTime? _arrivalTime;

    public async void Open(int standId, int? standVisitId = null, string? lastReceivedCardId = null)
    {
        _standId = standId;
        _standVisitId = standVisitId;
        _lastReceivedCardId = lastReceivedCardId;
        _arrivalTime = DateTime.Now;

        using var db = _dbContextFactory.CreateDbContext();

        if (lastReceivedCardId is null)
            _standVisit = await db.StandVisits
                .Include(x => x.Attendee)
                .FirstOrDefaultAsync(x => x.Id.Equals(standVisitId));
        else {
            _standVisit = await db.StandVisits
                .Include(x => x.Attendee)
                .Where(x => x.StandId.Equals(standId))
                .FirstOrDefaultAsync(x => lastReceivedCardId.Equals(x.Attendee.CardId));
        }

        _attendee = await db.Attendees
            .Include(x => x.User)
            .FirstOrDefaultAsync(x => x.CardId != null && x.CardId.Equals(_lastReceivedCardId));

        _standVisitId = _standVisitId ?? _standVisit?.Id;

        base.Open();
    }

    private async Task EndWait()
    {
        if (Modal is null || _standVisitId is null)
            return;

        using var db = _dbContextFactory.CreateDbContext();
        var targetVisit = await db.StandVisits.FirstOrDefaultAsync(x => x.Id.Equals(_standVisitId));

        if (targetVisit is null)
            return;

        targetVisit.Status = StandVisitStatus.Working;
        targetVisit.EndWaitTime = DateTime.Now;

        await db.SaveChangesAsync();

        await Modal.Close();
        await OnSubmit.InvokeAsync();
    }

    private async Task EndWork()
    {
        if (Modal is null || _standVisitId is null)
            return;

        using var db = _dbContextFactory.CreateDbContext();
        var targetVisit = await db.StandVisits.FirstOrDefaultAsync(x => x.Id.Equals(_standVisitId));

        if (targetVisit is null)
            return;

        targetVisit.Status = StandVisitStatus.Done;
        targetVisit.LeaveTime = DateTime.Now;

        await db.SaveChangesAsync();

        await Modal.Close();
        await OnSubmit.InvokeAsync();
    }

    private async Task SkipStand()
    {
        if (Modal is null || _standVisitId is null)
            return;

        using var db = _dbContextFactory.CreateDbContext();
        var targetVisit = await db.StandVisits
            .Include(x => x.Stand)
            .FirstOrDefaultAsync(x => x.Id.Equals(_standVisitId));

        if (targetVisit is null)
            return;

        targetVisit.Status = StandVisitStatus.Done;
        targetVisit.LeaveTime = DateTime.Now;
        targetVisit.Skipped = true;
        targetVisit.Penalty.Add(targetVisit.Stand.Penalty);

        await db.SaveChangesAsync();

        await Modal.Close();
        await OnSubmit.InvokeAsync();
    }

    private async Task ArrivalStart(StandVisitStatus desiredStatus)
    {
        if (desiredStatus == StandVisitStatus.Done || Modal is null || _standId is null || _lastReceivedCardId is null)
            return;

        using var db = _dbContextFactory.CreateDbContext();

        var targetAttendee = await db.Attendees.FirstOrDefaultAsync(x => _lastReceivedCardId.Equals(x.CardId));

        if (targetAttendee is null)
            return;

        db.StandVisits.Add(new StandVisit
        {
            StandId = (int) _standId,
            ArrivalTime = _arrivalTime ?? DateTime.Now,
            Status = desiredStatus,
            AttendeeId = targetAttendee.Id
        });

        await db.SaveChangesAsync();

        await Modal.Close();
        await OnSubmit.InvokeAsync();
    }

    private async Task ArrivedAndSkip()
    {
        if (Modal is null || _standId is null || _lastReceivedCardId is null)
            return;

        using var db = _dbContextFactory.CreateDbContext();

        var targetAttendee = await db.Attendees.FirstOrDefaultAsync(x => _lastReceivedCardId.Equals(x.CardId));

        if (targetAttendee is null)
            return;

        db.StandVisits.Add(new StandVisit
            {
                StandId = (int)_standId,
                ArrivalTime = DateTime.Now,
                LeaveTime = DateTime.Now,
                Skipped = true,
                Status = StandVisitStatus.Done,
                AttendeeId = targetAttendee.Id
            });

        await db.SaveChangesAsync();

        await Modal.Close();
        await OnSubmit.InvokeAsync();
    }
}