@inherits AbstractModal
@inject IDbContextFactory<DataContext> _dbContextFactory

<Modal @ref="Modal" Title="Upraviť stanovisko" SubmitText="Uložiť" OnSubmitAttempted="OnSubmitAttempted">
    <EditForm class="form" EditContext="_editContext" OnSubmit="OnSubmitAttempted">
        <DataAnnotationsValidator />

        <div class="form-group">
            <Name For="() => _createStandModel.Name" />
            <InputText class="input-field" @bind-Value="_createStandModel.Name" />
            <ValidationMessage For="() => _createStandModel.Name" />
        </div>

        <div class="form-group mt-3">
            <Name For="() => _createStandModel.Location" />
            <InputText class="input-field" @bind-Value="_createStandModel.Location" />
            <ValidationMessage For="() => _createStandModel.Location" />
        </div>

        <div class="form-group mt-3">
            <Name For="() => _createStandModel.PenaltyInMinutes" />
            <InputNumber class="input-field" @bind-Value="_createStandModel.PenaltyInMinutes" />
            <ValidationMessage For="() => _createStandModel.PenaltyInMinutes" />
        </div>

        @if (_stand?.IsStartingStand == false)
        {
            <div class="form-group mt-3">
                <Name For="() => _createStandModel.TimeLimitInMinutes" />
                <InputNumber class="input-field" @bind-Value="_createStandModel.TimeLimitInMinutes" />
                <ValidationMessage For="() => _createStandModel.TimeLimitInMinutes" />
            </div>
        }

        <div class="form-group mt-3">
            <Name For="() => _createStandModel.Capacity" />
            <InputNumber class="input-field" @bind-Value="_createStandModel.Capacity" />
            <ValidationMessage For="() => _createStandModel.Capacity" />
        </div>

        <div class="form-group mt-3">
            <Name For="() => _createStandModel.Supervisor" />
            <BlazoredTypeahead MaximumSuggestions="999"
            MinimumLength="0"
            SearchMethod="SearchInstructors"
            @bind-Value="_createStandModel.Supervisor">
                <SelectedTemplate Context="typeaheadContext">
                    @typeaheadContext?.Name
                </SelectedTemplate>
                <ResultTemplate Context="typeaheadContext">
                    @typeaheadContext?.Name
                </ResultTemplate>
                <NotFoundTemplate Context="typeaheadContext">
                    Žiadne výsledky
                </NotFoundTemplate>
            </BlazoredTypeahead>
            <ValidationMessage For="() => _createStandModel.Supervisor" />
        </div>

        <div class="form-group mt-3">
            <Name For="() => _createStandModel.Device" />
            <BlazoredTypeahead MaximumSuggestions="999"
            MinimumLength="0"
            SearchMethod="SearchDevices"
            @bind-Value="_createStandModel.Device">
                <SelectedTemplate Context="typeaheadContext">
                    @typeaheadContext?.Name
                </SelectedTemplate>
                <ResultTemplate Context="typeaheadContext">
                    @typeaheadContext?.Name
                </ResultTemplate>
                <NotFoundTemplate Context="typeaheadContext">
                    Žiadne výsledky
                </NotFoundTemplate>
            </BlazoredTypeahead>
            <ValidationMessage For="() => _createStandModel.Device" />
        </div>

        <button class="hidden" type="submit">Upraviť</button>
    </EditForm>
</Modal>

@code {
    [Parameter]
    public EventCallback OnSubmit { get; set; }

    private CreateStandModel _createStandModel = new();

    private EditContext? _editContext;

    private List<User> _instructors = new();
    private List<Device> _devices = new();

    private Stand? _stand;

    public async void Open(int standId)
    {
        using var db = _dbContextFactory.CreateDbContext();
        _instructors = await db.Users.AsNoTracking().Where(x => x.UserType == UserType.Instructor).ToListAsync();
        _devices = await db.Devices.AsNoTracking().ToListAsync();
        _stand = await db.Stands
            .Include(x => x.Supervisor)
            .Include(x => x.Device)
            .FirstOrDefaultAsync(x => x.Id.Equals(standId));

        if (_stand is null)
            return;

        _createStandModel = new()
        {
            Name = _stand.Name,
            Location = _stand.Location,
            PenaltyInMinutes = (int) _stand.Penalty.TotalMinutes,
            Supervisor = _stand.Supervisor,
            Capacity = _stand.Capacity,
            Device = _stand.Device,
            TimeLimitInMinutes = _stand.TimeLimitInMinutes
        };
        _editContext = new EditContext(_createStandModel);

        base.Open();
    }

    private async Task OnSubmitAttempted()
    {
        if (Modal is null || _editContext is null || _createStandModel is null || _stand is null)
            return;

        if (!_editContext.Validate())
            return;

        using var db = _dbContextFactory.CreateDbContext();

        var targetStand = await db.Stands
            .FirstOrDefaultAsync(x => x.Id.Equals(_stand.Id));

        if (targetStand is null)
            return;

        targetStand.Name = _createStandModel.Name;
        targetStand.Location = _createStandModel.Location;
        targetStand.Penalty = TimeSpan.FromMinutes(_createStandModel.PenaltyInMinutes);
        targetStand.SupervisorId = _createStandModel.Supervisor?.Id;
        targetStand.Capacity = _createStandModel.Capacity;
        targetStand.DeviceId = _createStandModel.Device?.Id;
        targetStand.TimeLimitInMinutes = _createStandModel.TimeLimitInMinutes;

        await db.SaveChangesAsync();

        await Modal.Close();
        await OnSubmit.InvokeAsync();
    }

    private async Task<IEnumerable<User>> SearchInstructors(string searchText)
    {
        return await Task.FromResult(_instructors!.Where(x => x.Name.Has(searchText)).ToList());
    }

    private async Task<IEnumerable<Device>> SearchDevices(string searchText)
    {
        return await Task.FromResult(_devices!.Where(x => x.Name.Has(searchText)).ToList());
    }
}