@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject IDbContextFactory<DataContext> _dbContextFactory

<PageTitle>Haxee.Web</PageTitle>

<CascadingValue Name="@Constants.CascadingParameters.CurrentAccount" Value="@_user">
    <div class="page">
        <NavMenu />

        <main class="pt-4 pl-4">
            @Body
        </main>
    </div>
</CascadingValue>


@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    private User? _user { get; set; }



    protected override async Task OnParametersSetAsync()
    {
        if (AuthenticationStateTask != null)
        {
            var authState = await AuthenticationStateTask;

            if (authState.User?.Identity?.IsAuthenticated == true)
            {
                using var db = _dbContextFactory.CreateDbContext();
                _user = await db.Users
                    .SingleOrDefaultAsync(x => x.Email != null && x.Email.Equals(authState.User.Identity.Name));

                if (_user is not null)
                    return;

                _navigationManager.NavigateTo(Constants.Paths.LOG_OUT, true);
            }
        }

        _navigationManager.NavigateTo(Constants.Paths.LOG_IN, true);
    }
}