@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject IDbContextFactory<DataContext> _dbContextFactory

<PageTitle>Haxee.Web</PageTitle>

<CascadingValue Name="@Constants.CascadingParameters.CurrentAccount" Value="@_user">
    <CascadingValue Name="@Constants.CascadingParameters.RunningActivity" Value="@_runningActivity">
        <div class="flex flex-col l:flex-row">
            <NavMenu />

            <main class="p-4 w-full l:left-60 h-screen overflow-y-scroll">
                @Body
            </main>
        </div>
    </CascadingValue>
</CascadingValue>

<RadzenComponents/>


@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationStateTask { get; set; }

    private User? _user { get; set; }
    private Activity? _runningActivity { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (AuthenticationStateTask != null)
        {
            var authState = await AuthenticationStateTask;

            if (authState.User?.Identity?.IsAuthenticated == true)
            {
                using var db = _dbContextFactory.CreateDbContext();
                _user = await db.Users
                    .Include(x => x.Attendances)
                        .ThenInclude(x => x.StandVisits)
                    .SingleOrDefaultAsync(x => x.Email != null && x.Email.Equals(authState.User.Identity.Name));

                if (_user is not null)
                {
                    _runningActivity = await db.Activities.AsNoTracking().FirstOrDefaultAsync(x => x.Status.Equals(ActivityStatus.InProgress));
                    return;
                }

                _navigationManager.NavigateTo(Constants.Paths.LOG_OUT, true);
            }
        }

        _navigationManager.NavigateTo(Constants.Paths.LOG_IN, true);
    }
}