<div class="bg-mainBlue text-white">
    <div class="w-100 flex flex-row justify-center p-2 pt-4">
        <div class="shrink-0">
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/8.webp" class="rounded-full w-28" alt="Avatar">
        </div>
    </div>
    <h3 class="w-full text-center font-bold mt-2 px-2">@User.Name</h3>

    <div class="nav-scrollable" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                    <div class="w-full flex flex-row justify-start items-stretch">
                        <h3 class="self-center font-extralight"><i class="fa-solid fa-house"></i></h3>
                        <h3 class="ml-3 self-center">Domov</h3>
                    </div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <div class="w-full flex flex-row justify-start items-stretch">
                        <h3 class="self-center font-extralight"><i class="fa-solid fa-person-running"></i></h3>
                        <h3 class="ml-3 self-center">Hi-Fi Ralley</h3>
                    </div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="leaderboard">
                    <div class="w-full flex flex-row justify-start items-stretch">
                        <h3 class="self-center font-extralight"><i class="fa-solid fa-ranking-star"></i></h3>
                        <h3 class="ml-3 self-center">Leaderboard</h3>
                    </div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <div class="w-full flex flex-row justify-start items-stretch">
                        <h3 class="self-center font-extralight"><i class="fa-solid fa-user-group"></i></h3>
                        <h3 class="ml-3 self-center">Účastníci</h3>
                    </div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <div class="w-full flex flex-row justify-start items-stretch">
                        <h3 class="self-center font-extralight"><i class="fa-solid fa-gear"></i></h3>
                        <h3 class="ml-3 self-center">Nastavenia</h3>
                    </div>
                </NavLink>
            </div>
            @if (User.SuperInstructor)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/admin/menu">
                        <div class="w-full flex flex-row justify-start items-stretch">
                            <h3 class="self-center font-extralight"><i class="fa-solid fa-screwdriver-wrench"></i></h3>
                            <h3 class="ml-3 self-center">Admin panel</h3>
                        </div>
                    </NavLink>
                </div>
            }
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/auth/logout">
                    <div class="w-full flex flex-row justify-start items-stretch">
                        <h3 class="self-center font-extralight"><i class="fa-solid fa-arrow-right-from-bracket"></i></h3>
                        <h3 class="ml-3 self-center">Odhlásiť</h3>
                    </div>
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    [CascadingParameter(Name = Constants.CascadingParameters.CurrentAccount)]
    private User User { get; set; } = default!;

    private bool collapseNavMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
