@page
@model Haxee.Web.Pages.Admin.AddAccountsModel
@{
}

<h1 class="title">Pridanie účtov</h1>
@using (Html.BeginForm(FormMethod.Post, true))
{
    <div class="flex flex-col space-y-2">
        <div>
            @Html.LabelFor(model => model.Input.Json)<span class="red-star">*</span>
        </div>
        @Html.EditorFor(model => model.Input.Json, new { htmlAttributes = new { @class = "input-field" } })
        @Html.ValidationMessageFor(model => model.Input.Json)
    </div>
    <button type="submit" class="button-submit">
        Pridať
    </button>
}