@page "/activity/{ActivityId:int}"
@inject IDbContextFactory<DataContext> _dbContextFactory

@if (!_isLoaded)
{
    <h3>Loading...</h3>
} else if (_activity is null)
{
    <div class="flex flex-col space-y-4 mt-[5%]">
        <div class="flex flex-row justify-center w-full">
            <img src="/images/reshot-illustration-construction-workers-DC8L5WUP23.png" class="w-3/4 md:w-2/3 lg:w-1/2" />
        </div>
        <h3 class="text-mainPurple font-semibold text-center">
            Táto aktivita neexistuje.
        </h3>
    </div>
} else
{
    <h1 class="title">Aktivita @_activity.Name</h1>

    <div class="mt-2 grid gap-4 lg:gap-6 md:grid-cols-3 lg:grid-cols-4">
        <button onclick="location.href='/stands/@ActivityId'" class="button-card-small flex items-stretch">
            <h1 class="text-mainPurple self-center w-max"><i class="fa-solid fa-map-location-dot"></i></h1>
            <h2 class=" text-darkBlue self-center w-max">Stanoviska</h2>
        </button>

        @if (ActivityId.Equals(DateTime.Now.Year))
        {
            <button onclick="location.href='/monitor-leaderboard/@ActivityId'" class="button-card-small flex items-stretch">
                <h1 class="text-mainPurple self-center w-max"><i class="fa-solid fa-ranking-star"></i></h1>
                <h2 class=" text-darkBlue self-center w-max">Leaderboard</h2>
            </button>
        }
        else
        {
            <button onclick="location.href='/activity-leaderboard/@ActivityId'" class="button-card-small flex items-stretch">
                <h1 class="text-mainPurple self-center w-max"><i class="fa-solid fa-ranking-star"></i></h1>
                <h2 class=" text-darkBlue self-center w-max">Leaderboard</h2>
            </button>
        }

        <button onclick="location.href='/activity-stats/@ActivityId'" class="button-card-small flex items-stretch">
            <h1 class="text-mainPurple self-center w-max"><i class="fa-solid fa-chart-line"></i></h1>
            <h2 class=" text-darkBlue self-center w-max">Štatistika</h2>
        </button>

        @if (ActivityId.Equals(DateTime.Now.Year))
        {
            <button onclick="location.href='/kids'" class="button-card-small flex items-stretch">
                <h1 class="text-mainPurple self-center w-max"><i class="fa-solid fa-user-group"></i></h1>
                <h2 class=" text-darkBlue self-center w-max">Účastníci</h2>
            </button>
        }
    </div>

    @if (_activity.Status == ActivityStatus.Pending && User.SuperInstructor)
    {
        <button class="mt-10" @onclick="() => ChangeActivityStatus(ActivityStatus.InProgress)">Spustiť súťaž</button>
    }

    @if (_activity.Status == ActivityStatus.InProgress)
    {
        if (User.SuperInstructor)
        {
            <button class="mt-10" @onclick="() => ChangeActivityStatus(ActivityStatus.Finished)">Ukončiť súťaž</button>
        }
        <div class="mt-20">
            <h2 class="text-orange font-bold">Aktuálne info</h2>
            <div class="mt-2 grid gap-4 lg:gap-6 md:grid-cols-3 lg:grid-cols-4">
                <div class="flex flex-col sm:items-stretch sm:flex-row mt-2 space-y-4 sm:space-y-0 sm:space-x-4">
                    <AttendeesStats ActivityId="ActivityId" />

                    <StandsStats ActivityId="ActivityId" />
                </div>
            </div>
        </div>
    }
}

@code {
    [CascadingParameter(Name = Constants.CascadingParameters.CurrentAccount)]
    private User User { get; set; } = default!;

    [Parameter]
    public int ActivityId { get; set; }

    private Activity? _activity;
    private bool _isLoaded;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await LoadActivityAsync();
    }

    private async Task LoadActivityAsync()
    {
        using var db = _dbContextFactory.CreateDbContext();
        _activity = await db.Activities.AsNoTracking().FirstOrDefaultAsync(x => x.Id.Equals(ActivityId));

        _isLoaded = true;
        StateHasChanged();
    }

    private async void ChangeActivityStatus(ActivityStatus newActivityStatus)
    {
        using var db = _dbContextFactory.CreateDbContext();
        var activity = await db.Activities.FirstOrDefaultAsync(x => x.Id.Equals(ActivityId));

        if (activity is null)
            return;
        
        activity.Status = newActivityStatus;

        _activity = activity;

        await db.SaveChangesAsync();

        StateHasChanged();
    }
}