@page "/leaderboardMonitor/{Year:int}"
@layout EmptyLayout
@inject NavigationManager _navigation

<div class="bg-black min-h-[100vh]">
    <div class="bg-mainBlue text-white py-2">
        <div class="max-w-[95%] mx-auto flex flex-row justify-between items-stretch">
            <div class="self-center">
                <a href="/" class="no-underline hover:text-darkBlue">
                    <h4><i class="fa-solid fa-arrow-left"></i></h4>
                </a>
            </div>
            <div class="self-center">
                <h2 class="font-bold">Aktuálne poradie</h2>
            </div>
            <div class="self-center flex flex-row space-x-2">
                <h4>Last updated @DateTime.Now</h4>
            </div>
        </div>
    </div>
    <Leaderboard Year="Year"></Leaderboard>
</div>

@code {
    [Parameter]
    public int Year { get; set; } = DateTime.Now.Year;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await Task.Delay(30000);
        _navigation.NavigateTo(_navigation.Uri, true);
    }
}
