@inject IDbContextFactory<DataContext> _dbContextFactory
@page "/leaderboard"

@if (RunningActivity is null)
{
    <h1>Aktuálne neprebieha žiadna aktivita</h1>
}
else
{
    <h1 class="title">Aktuálne poradie</h1>
    <Leaderboard ActivityId="RunningActivity.Id"></Leaderboard>
}

@code {
    [CascadingParameter(Name = Constants.CascadingParameters.RunningActivity)]
    private Activity? RunningActivity { get; set; } = default!;
}