@page "/activities"
@inject IDbContextFactory<DataContext> _dbContextFactory
@inject NavigationManager _navigationManager

<PageTitle>Haxee - Aktivity</PageTitle>

<div class="flex flex-row justify-between">
    <h1 class="title">Aktivity</h1>

    @if (User.SuperInstructor)
    {
        <CreateActivityModal @ref="_createActivityModal" OnSubmit="LoadActivities" />
        <EditActivityModal @ref="_editActivityModal" OnSubmit="LoadActivities" />

        <div>
            <button class="button-yellow" @onclick="() => _createActivityModal?.Open()">
                <span class="inline-block"><i class="fa-solid fa-plus"></i></span>
                <span class="hidden md:inline-block">Vytvoriť</span>
            </button>
        </div>
    }
</div>

<div class="mt-2 grid gap-4 lg:gap-6 sm:grid-cols-3 lg:grid-cols-4">
    @foreach(var activity in _activities.OrderByDescending(x => x.Id))
    {
        var attendees = activity.Attendees.Where(x => x.StartedAt != null && x.EndedAt != null);
        <div class="my-card">
            <h1 class="text-mainPurple text-center font-bold">@activity.Name</h1>
            <div class="flex flex-row space-x-2 items-center text-darkBlue mt-3">
                <i class="fa-solid fa-map-location-dot"></i>
                <h4>@activity.Stands.Count()</h4>
            </div>
            <div class="flex flex-row space-x-2 items-center text-darkBlue mt-3">
                <i class="fa-solid fa-clock"></i>
                <h4>@(attendees.Any() ? TimeSpan.FromSeconds(attendees.Average(x => (x.EndedAt! - x.StartedAt!).Value.TotalSeconds)).ToString() : "-")</h4>
            </div>
            <button class="button-main mt-6" @onclick='() => _navigationManager.NavigateTo("/activity/" + activity.Id)'>
                Detail
            </button>
            @if (User.SuperInstructor)
            {
                <button class="button-gray" @onclick='async () => await _editActivityModal.Open(activity.Id)'>
                    Upraviť
                </button>
            }
        </div>
}
</div>

@code {
    [CascadingParameter(Name = Constants.CascadingParameters.CurrentAccount)]
    private User User { get; set; } = default!;

    private CreateActivityModal? _createActivityModal;
    private EditActivityModal? _editActivityModal;

    private List<Activity> _activities = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
            return;

        await LoadActivities();
    }

    private async Task LoadActivities()
    {
        using var db = _dbContextFactory.CreateDbContext();

        _activities = await db.Activities
            .Include(x => x.Stands)
            .ToListAsync();

        StateHasChanged();
    }
}
